header {
    height: 100vh;
}

.parallax-container {
    position: relative;
    width: 50%;
    min-width: 50%;
    height: fit-content;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: solid 2px lightslategray;
    border-radius: 5px;
}

.parallax-layer {
    position: absolute;
    width: 110%;
    object-fit: contain;
}

.root-layer {
    position: relative;
    width: 100%;
}